In [1]:
# Import Stuff
import pandas as pd
from bs4 import BeautifulSoup as soup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set up Splinter (with some pizza)
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/gina/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [3]:
# Trip to Mars
url = 'https://redplanetscience.com/'
browser.visit(url)

# Time Delay
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [9]:
# Make Soup
html = browser.html
news_soup = soup(html, 'html.parser')

In [10]:
article = news_soup.select_one('div.list_text')
slide

<div class="list_text">
<div class="list_date">September 9, 2021</div>
<div class="content_title">NASA's Briefcase-Size MarCO Satellite Picks Up Honors</div>
<div class="article_teaser_body">The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week &amp; Space Technology.</div>
</div>

In [11]:
# find the newest thing
article.find('div', class_='content_title')

In [12]:
# get the title
title = article.find('div', class_='content_title').get_text()
title

"NASA's Briefcase-Size MarCO Satellite Picks Up Honors"

In [13]:
# now get the text
text = article.find('div', class_='article_teaser_body').get_text()
text

'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'

PICTURE TIME

In [14]:
# where is it?
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [16]:
# see it all
embiggen = browser.find_by_tag('button')[1]
embiggen.click()

In [17]:
# Dump it in the soup
html = browser.html
image = soup(html, 'html.parser')

In [18]:
# find the image
RelativeURL = imgage.find('img', class_='fancybox-image').get('src')
RelativeURL

'image/featured/mars3.jpg'

In [19]:
# make it absolute
PhotoJojo = f'https://spaceimages-mars.com/{RelativeURL}'
PhotoJojo

'https://spaceimages-mars.com/image/featured/mars3.jpg'

Actual Factual

In [20]:
# get some data
data = pd.read_html('https://galaxyfacts-mars.com')[0]
data.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km