In [1]:
# Import Stuff
import pandas as pd
from bs4 import BeautifulSoup as soup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set up Splinter (with some pizza)
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/gina/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [3]:
# Trip to Mars
url = 'https://redplanetscience.com/'
browser.visit(url)

# Time Delay
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# Make Soup
html = browser.html
news_soup = soup(html, 'html.parser')

In [5]:
article = news_soup.select_one('div.list_text')
article

<div class="list_text">
<div class="list_date">September 9, 2021</div>
<div class="content_title">Curiosity Mars Rover's Summer Road Trip Has Begun</div>
<div class="article_teaser_body">After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.</div>
</div>

In [6]:
# find the newest thing
article.find('div', class_='content_title')

In [7]:
# get the title
title = article.find('div', class_='content_title').get_text()
title

"Curiosity Mars Rover's Summer Road Trip Has Begun"

In [8]:
# now get the text
text = article.find('div', class_='article_teaser_body').get_text()
text

'After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.'

PICTURE TIME

In [9]:
# where is it?
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [10]:
# see it all
embiggen = browser.find_by_tag('button')[1]
embiggen.click()

In [11]:
# Dump it in the soup
html = browser.html
image = soup(html, 'html.parser')

In [12]:
# find the image
RelativeURL = image.find('img', class_='fancybox-image').get('src')
RelativeURL

'image/featured/mars1.jpg'

In [13]:
# make it absolute
PhotoJojo = f'https://spaceimages-mars.com/{RelativeURL}'
PhotoJojo

'https://spaceimages-mars.com/image/featured/mars1.jpg'

Actual Factual

In [14]:
# get some data
data = pd.read_html('https://galaxyfacts-mars.com')[0]
data.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [15]:
# nameless no more
data.columns=['Category', 'Mars', 'Earth']
data.set_index('Category', inplace=True)
data

                                    Mars            Earth
Category
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [16]:
# make it webable
data.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Category</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

Hemi - Spherical

In [17]:
# marsh emispheres

url = 'https://marshemispheres.com/'
browser.visit(url)

In [18]:
# Pics and titles
urls = []

# list the half spheres
links = browser.find_by_css('a.product-item img')

# loopity loop
for i in range(len(links)):
    hemisphere = {}
    
    # find
    browser.find_by_css('a.product-item img')[i].click()
    
    # sample
    sample = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample['href']

    # title
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    # append
    urls.append(hemisphere)
    
    # back it up
    browser.back()

In [19]:
urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]